<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobremi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a9d31f1b66.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="grid-container">
        <img src="/images/profPic.jpeg" alt="photo" width="200px" id="prof-pic">
        <h1>CURRICULUM VITAE DE SAMUEL YAIR ESTRADA OMAÑA</h1>
    </header>
    <main>
        <!-- PersonalInformation Section -->
        <section>
            <h3>DATOS PERSONALES</h3>
            <ul class="type-disc">
                <li><span class="info-type">Nombre Completo:</span> Bruce Wayne</li>
                <li><span class="info-type">Fecha de Nacimiento:</span> 01/05/1939</li>
                <li><span class="info-type">Lugar de Nacimiento:</span> Gotham City</li>
            </ul>
        </section>
        <!-- AcademicInformation Section -->
        <section>
            <h3>FORMACIÓN ACADÉMICA</h3>
            <ul class="type-none">
                <li class=" d-flex"><span class="info-type">1956-1961:</span>
                    <ul class="type-none">
                        <li>Universidad del espantapájaros</li>
                        <li>Licenciatura en aeronáutica</li>
                    </ul>
                </li>
                <li class=" d-flex"><span class="info-type">1952-1956:</span>
                    <ul class="type-none">
                        <li>Secundario Gotham</li>
                        <li>Bachiller con especialización en trucos</li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- JobInformation Section -->
        <section>
            <h3>EXPERIENCIA LABORAL</h3>
            <ul class="type-none">
                <li class=" d-flex">
                    <span class="info-type">1975-1985:</span>
                    <ul class="type-none">
                        <li>Desocupado</li>
                        <li>Sin trabajo porque se me rompió el batimovil</li>
                    </ul>
                </li>
                <li class=" d-flex">
                    <span class="info-type">1965-1975:</span>
                    <ul class="type-none">
                        <li>Cazavillanos y demás chusma</li>
                        <li>Atrapé a Gatubela a Joker a Victor Fries lo dejé porque se me congeló la capa</li>
                    </ul>
                </li>
                <li class=" d-flex"><span class="info-type">1962-1965:</span>
                    <ul class="type-none">
                        <li>Aprendiz de superhéroes</li>
                        <li>Hice pasantia con Superman. Opté por usar mascara porque no pude aprender a peinarme el rulo
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <ul class="media">
            <li>
                <a href="https://github.com/SamuelEstradaO"><i class="fa-brands fa-github"
                        style="color: #ffc107;"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/samuel-yair-estrada/"><i class="fa-brands fa-linkedin"
                        style="color: #ffc107;"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/sayaesom/"><i class="fa-brands fa-instagram "
                        style="color: #ffc107;"></i></a>
            </li>
        </ul>

    </footer>
</body>

</html>