<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobremi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a9d31f1b66.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="grid-container">
        <img src="/images/profPic.jpeg" alt="photo" width="200px" id="prof-pic">
        <h1>CURRICULUM VITAE DE SAMUEL ESTRADA</h1>
        <nav><a href="/index.html"><button type="button">Inicio</button></a></nav>
    </header>
    <main>
        <!-- PersonalInformation Section -->
        <section>
            <h3>DATOS PERSONALES</h3>
            <ul class="type-disc">
                <li><span class="info-type">Nombre Completo:</span> SAMUEL YAIR ESTRADA OMAÑA</li>
                <li><span class="info-type">Fecha de Nacimiento:</span> 03/02/1998</li>
                <li>Ing. Mecatronico</li>
            </ul>
        </section>
        <!-- AcademicInformation Section -->
        <section>
            <h3>FORMACIÓN ACADÉMICA</h3>
            <ul class="type-none">
                <li class=" d-flex"><span class="info-type">2016-2022:</span>
                    <ul class="type-none">
                        <li>Tecnologico Nacional de México en Celaya</li>
                        <li>Ingeniería en mecatronica</li>
                    </ul>
                </li>
                <li class=" d-flex"><span class="info-type">2021-2022:</span>
                    <ul class="type-none">
                        <li>Digital House</li>
                        <li>Fullstack developer</li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- JobInformation Section -->
        <section>
            <h3>EXPERIENCIA LABORAL</h3>
            <ul class="type-none">
                <li class=" d-flex">
                    <span class="info-type">2022:</span>
                    <ul class="type-none">
                        <li>Programador JR</li>
                        <li>Koatli Ingenieria Industrial &#174; · Jornada completa</li>
                    </ul>
                </li>

            </ul>
        </section>
    </main>
    <footer>
        <ul class="media">
            <li>
                <a href="https://github.com/SamuelEstradaO"><i class="fa-brands fa-github"
                        style="color: #ffc107;"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/samuel-yair-estrada/"><i class="fa-brands fa-linkedin"
                        style="color: #ffc107;"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/sayaesom/"><i class="fa-brands fa-instagram "
                        style="color: #ffc107;"></i></a>
            </li>
        </ul>

    </footer>
</body>

</html>